.article-container {
  width: 80%;
  height: 100%;
  margin: auto;
  margin-top: 100px;
  padding: 20px;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.article-header {
  text-align: center;
  margin-bottom: 20px;
}

.article-header h1 {
  font-size: 2rem;
  color: #333;
}

.article-body {
  line-height: 1.6;
  font-size: 18px;
}

.article-content {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.article-content h2,
.article-content h3,
.article-content h4 {
  color: white;
  margin-top: 30px;
}

.article-content ul {
  list-style: disc;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.article-content ul li {
  margin-bottom: 10px;
  font-size: 18px;
  color: rgba(230, 229, 229, 0.6);
}

@media only screen and (max-width: 900px) {
  .article-container {
    width: 85%;
  }
}
