.footer {
  color: white;
  padding: 20px;
  margin-top: 50px;
  border-top: 2px solid rgba(116, 124, 142, 0.5);
}

.contact_item {
  display: flex;
  align-items: center;
  align-content: center;
}

.contact_item .icon {
  font-size: 20px;
  margin-bottom: 0px;
  border-radius: 20px;
  padding: 6px;
  color: rgb(127, 211, 142);
}

.footer .link {
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}

.footer .link:hover {
  text-decoration: underline;
  color: rgb(127, 211, 142);
}

.footer-bottom {
  font-size: 0.9rem;
  text-align: right;
}
